
.account__container{
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;

}


.account__container > div{

  margin: auto;
 
  padding: 24px;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #ABABAB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 16px;
}


.account__container .heading{
  text-align: center;
}

.account__container .heading h1{
  font-weight: 500
}


.account__container .details{
  width: 100%;
  margin-top: 5px;
  padding:  6px 12px;
  font-size: 14px;
  border : none;
  outline: none;
  background: #F1F1F1;
  border: 1px solid #BDBDBD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: 0.5s;
  margin-bottom: 16px;

}
.account__container .details2{
  width: 100%;
  margin-top: 5px;
  padding:  6px 12px;
  font-size: 14px;
  border : none;
  outline: none;
  background: white;
  border: 1px solid #BDBDBD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transition: 0.5s;
  margin-bottom: 16px;

}


.account__container .payment_button{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_but{
  cursor: pointer;
}


@media (max-width : 1023px) {
  .account__container{
    grid-template-columns: 1fr;
  }
}


@media (max-width : 767px) {
  .account__container > div {
    padding: 64px 24px;
  }
}
