
.device__list__container{
  width: 70%;
  margin: auto;
  margin-top: 64px;
  padding: 32px;
}

.device__container{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-gap: 8px;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 8px;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 16px;
}

.device__name{
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.device__name span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.device__name .editName{
  width: 20px;
  cursor: pointer;
}

.device__list__container .middle__section .item{
  display: flex;
  align-items: flex-start;
  width: 60%;
  margin: auto;
  margin-bottom: 2px;
}

.device__list__container .middle__section .item img{
  width: 30px;
 
}

.device__container .right__section .sub__status p{
  font-size: 24px;
}

.device__container .right__section button , .renew__button .action__button , .popUp__buttons .portal {
  margin-top: 16px;
  padding: 12px;
  font-size: 16px;
  border : none;
  margin-left: 10px;
  outline: none;
  border-radius: 6px;
  background: #AB4843;
  color : #F5EFEF;
  transition: 0.5s;
  margin-bottom: 16px;
  cursor: pointer;
}

.renew__button{
  width: 100%;
  padding: 32px;
  text-align: center;
}

.renew__button .action__button{
  display: inline-block;
  width: 50%;
  margin: auto;
}

.device__container .close{
  position: absolute;
  top: 10px;
  right: 20px;
}

.device__container .close p{
  font-weight: bold;
  color : #AB4843;
  cursor: pointer;
  font-size: 18px;
}

.popUpD{
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: 50%;
  padding: 32px 48px;
  border-radius: 8px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.popUpD input{
  padding: 16px;
  width: 100%;
  background: #F5EFEF;
  border : none;
  outline: none;
  border-radius: 4px;
  margin-bottom: 8px;
}

.popUpD p{
  margin-bottom: 16px;
}

.popUpD .popUp__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popUp__buttons button{
  margin-bottom: 16px;
  cursor: pointer;
  color : #AB4843;
  background: #F5EFEF;
  padding: 16px 32px;
  border : none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
}

@media only screen and (max-width: 768px)  {
  .device__list__container .middle__section .item{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    margin-bottom: 2px;
  }
  .device__container .right__section .sub__status p{
    padding-top: 15px;
    font-size: 14px;
  }
  .device__container{
    display: flex;
    gap: 3px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 8px;
    justify-content: space-between;
    text-align: center;
    position: relative;
    margin-bottom: 16px;
  }
  
  .device__list__container{
    width: 95%;
    margin: auto;
    margin-top: 64px;
    padding: 12px;
  }
  .device__container .right__section button , .renew__button .action__button , .popUp__buttons .portal {
    margin-top: 0px;
    padding: 5px;
    font-size: 16px;
    border : none;
    outline: none;
    margin-left: 0px;
    font-size: 15px;
    border-radius: 6px;
    background: #AB4843;
    color : #F5EFEF;
    transition: 0.5s;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .device__list__container .middle__section .item{
    justify-content: start;
    align-items: flex-start;
  }

  .popUpD{
    width: 95%;
  }
  .renew__button .action__button{
    width: 100%;
  }
}
