.plans__container{
  width: 80%;
  margin: auto;
  margin-top: 64px;
  text-align: center;
}

.plans{
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
}


.plans__container .heading{
  font-size: 24px;
}


.plans__container .price__price{
  font-weight: 500;
  font-size: 128px;
  color : #931A25;
}


.left__container .heading{
  margin-top: 28px;
}



.plans .plan{
  padding: 32px;
  border : 1px solid #E97171;
  margin-top: 64px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.right__container .best__plan{
  background: #931A25;
  color : #F5EFEF;
  width: 20%;
  padding: 8px;
  border-radius: 4px;
  margin: auto;
  margin-top: -48px;
  margin-bottom: 32px;

}

.plans__button__container{
  width: 55%;
  margin : auto;
  display: block;
}

.plans__button{
  width: 100%;
  margin-top: 16px;
  padding: 12px;
  font-size: 18px;
  border : none;
  outline: none;
  border-radius: 6px;
  background: #931A25;
  color : #F5EFEF;
  transition: 0.5s;
  margin-bottom: 16px;
  cursor: pointer;
  border : 1px solid #931A25;
  margin-top: 32px;
}

.plans__button:hover{
  background-color: #F5EFEF;
  color :  #931A25;
  transition: 0.5s;
}



@media (max-width : 1250px) {
  .right__container .best__plan{
    width: 40%;
  }
}


@media (max-width : 767px) {
  .plans{
    grid-template-columns: 1fr;
  }

  .plans__button__container{
    width: 80%;
  }
}
