

.register__container{
  width: 50%;
  margin: auto;
  margin-top: 64px;
  padding: 64px;
  border-radius: 8px;
  background: rgba(147, 26, 37 , 0.8);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  color : white;
  margin-bottom: 16px;
}

.register__container .heading{
  text-align: center;
  margin-bottom: 8px;
}

.registration__form input{
    padding: 8px;
    background:  #F5EFEF;
    border : 1px solid #E97171;
    margin-bottom: 8px;
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.checkbox__container{
  display: flex;
  align-items: center;
}

.registration__form .checkBox{
  display: inline-block;
  width: auto;
  margin: 0;
  margin-right: 8px;
  padding: 4px;
  border-radius: 2px;
}

.signin__button__container{
  width: 75%;
  margin : auto;
  display: block;
}

.sigin__button{
  width: 100%;
  margin-top: 16px;
  padding: 12px;
  font-size: 18px;
  border : none;
  outline: none;
  border-radius: 6px;
  background: #931A25;
  color : #F5EFEF;
  transition: 0.5s;
  margin-bottom: 16px;
  cursor: pointer;
}

.sigin__button:hover{
  background-color: #F5EFEF;
  color :  #931A25;
  transition: 0.5s;
}

.registration__footer a{
  color : white;
}
