

.register__container{
  width: 50%;
  margin: auto;
  margin-top: 24px;
  padding: 64px;

  background: #FFFFFF;
  border: 1px solid #ABABAB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color : white;
  margin-bottom: 16px;
}

.register__container .heading{
  text-align: center;
  margin-bottom: 8px;
}
.tellMe input{
  border: none;
  box-shadow: none;
  border-radius: none;
}
.registration__form input{
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 8px;
    display: block;
    width: 100%;
color: black;
    margin-bottom: 16px;
}

.checkbox__container{
  display: flex;
  color: black;
  align-items: center;
}

.registration__form .checkBox{
  display: inline-block;
  width: auto;
  margin: 0;
  margin-right: 8px;
  padding: 4px;
  border-radius: 2px;
}

.signin__button__container{
  width: 45%;
  margin : auto;
  display: block;
}

.sigin__button{
  width: 100%;
  margin-top: 16px;
  padding: 12px;
  font-size: 18px;
  border : none;
  outline: none;
  border-radius: 6px;
  background: #AB4843;
  color : #F5EFEF;
  transition: 0.5s;
  margin-bottom: 16px;
  cursor: pointer;
}

.sigin__button:hover{
  background-color: #931A25;
  color :  #fff;
  transition: 0.5s;
}


.registraion__select{
  width: 100%;
  outline: none;
  border : none;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  padding: 8px;
}




@media (max-width : 1023px) {
  .register__container {
    width: 75%;
  }
}


@media (max-width : 767px) {
  .register__container{
    width: 95%;
    padding: 64px 24px;
  }

  .registraion__select{
    margin-bottom: 16px;
  }
}
