.support__heading , .support__footer{
  padding: 32px;
  text-align: center;
  color : #931A25;
}

.support__content__container{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;

}


.support__content{
  padding: 32px;
  border-radius: 16px;
  border : 1px solid #931A25;
}

.support__content .heading {
  color : #931A25;
  margin-bottom: 16px;
}
