.support__heading , .support__footer{
  padding: 32px;
  text-align: center;
  color : #931A25;
}

.support__content__container{
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;

}


.support__content{
  padding: 20px 32px;
  border-radius: 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 1px solid #ABABAB;
  position: relative;
  cursor: pointer;
}

.support__content .heading {
  color : #931A25;


}





.support__content .content{
  max-height: 100%;
  transition: 0.5s;
}



@media (max-width:768px) {
  .support__footer{
    padding: 32px 8px;
    font-size: 12px;
  }
  .support__content__container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
  
  }
}
